{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

    <!-- begin content -->
    <div id="site_content">
      <ul class="slideshow">
        <li class="show"><img width="950" height="450" src="{% static "images/home_1.jpg" %}" alt="&quot;You can put a caption for your image right here&quot;" /></li>
        <li><img width="950" height="450" src="{% static "images/home_2.jpg" %}" alt="&quot;You can put a description of the image here if you like, or anything else if you want.&quot;" /></li>
        <li><img width="950" height="450" src="{% static "images/home_3.jpg" %}" alt="&quot;You can put a description of the image here if you like, or anything else if you want.&quot;" /></li>
      </ul>
    </div>
    <!-- end content -->

{% endblock %}
