{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<
    <!-- begin content -->
    <div id="site_content">
      <!-- start gallery HTML containers -->
      <div class="navigation-container">
        <div id="thumbs" class="navigation">
          <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
          <ul class="thumbs noscript">
            <li>
              <a class="thumb" href="{% static "images/portfolio_two/1.jpg" %}"><img src="{% static "images/portfolio_two/10_thumb.jpg" %}" alt="one" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;Pier by the sea, Fowey, Cornwall, UK&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="{% static "images/portfolio_two/2.jpg" %}"><img src="{% static "images/portfolio_two/2_thumb.jpg" %}" alt="two" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;Cheeky monkey and his friend - wooden rabbit&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/3.jpg"><img src="images/portfolio_two/3_thumb.jpg" alt="three" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;Number 7 derailment - playroom style&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/4.jpg"><img src="images/portfolio_two/4_thumb.jpg" alt="four" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;A beautiful rose looking for the sunlight&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/5.jpg"><img src="images/portfolio_two/5_thumb.jpg" alt="five" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;Waves and Rocks (Croyde, Devon, UK)&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/6.jpg"><img src="images/portfolio_two/6_thumb.jpg" alt="six" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;A vase of black and white tulips&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/7.jpg"><img src="images/portfolio_two/7_thumb.jpg" alt="seven" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;Abstract angles, dark and light&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/8.jpg"><img src="images/portfolio_two/8_thumb.jpg" alt="eight" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;A snowy house in winter (December, 2009)&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/9.jpg"><img src="images/portfolio_two/9_thumb.jpg" alt="nine" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;One, two, three daisies in the grass&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/10.jpg"><img src="images/portfolio_two/10_thumb.jpg" alt="ten" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;A small boat on the big ocean (Croyde, Devon, UK)&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/2.jpg"><img src="images/portfolio_two/2_thumb.jpg" alt="two" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;Cheeky monkey and his friend - wooden rabbit&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/4.jpg"><img src="images/portfolio_two/4_thumb.jpg" alt="four" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;A beautiful rose looking for the sunlight&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/6.jpg"><img src="images/portfolio_two/6_thumb.jpg" alt="six" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;A vase of black and white tulips&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/8.jpg"><img src="images/portfolio_two/8_thumb.jpg" alt="eight" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;A snowy house in winter (December, 2009)&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/10.jpg"><img src="images/portfolio_two/10_thumb.jpg" alt="ten" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;A small boat on the big ocean (Croyde, Devon, UK)&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/1.jpg"><img src="images/portfolio_two/1_thumb.jpg" alt="one" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;Pier by the sea, Fowey, Cornwall, UK&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/3.jpg"><img src="images/portfolio_two/3_thumb.jpg" alt="three" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;Number 7 derailment - playroom style&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/5.jpg"><img src="images/portfolio_two/5_thumb.jpg" alt="five" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;Waves and Rocks (Croyde, Devon, UK)&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/7.jpg"><img src="images/portfolio_two/7_thumb.jpg" alt="seven" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;Abstract angles, dark and light&quot;</div>
              </div>
            </li>
            <li>
              <a class="thumb" href="images/portfolio_two/9.jpg"><img src="images/portfolio_two/9_thumb.jpg" alt="nine" /></a>
              <div class="caption">
                <div class="image-title portfolio_two">&quot;One, two, three daisies in the grass&quot;</div>
              </div>
            </li>
          </ul>
          <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
        </div>
      </div>
      <div class="content">
        <div class="slideshow-container">
          <div id="loading" class="loader"></div>
          <div id="slideshow" class="slideshow"></div>
          <div id="controls" class="controls portfolio_two"></div>
          <div id="caption" class="caption-container"></div>
        </div>
      </div>
      <!-- end gallery HTML containers -->
    </div>
    <!-- end content -->

{% endblock %}
