{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

    {% block menu %}
        {% include "menu.html" with is_home=True %}
    {% endblock menu %}

{% block content %}
    <!-- begin content -->
    <div id="site_content">
        <ul class="slideshow">
            {% for img in images %}
                <li class="show"><img src="{{ img.image|thumbnail_url:'show' }}" alt="{{ img.description }}"/></li>
            {% endfor %}
        </ul>
    </div>
    <!-- end content -->

{% endblock %}
