{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

    {% block menu %}
        {% include "menu.html" with is_home=True %}
    {% endblock menu %}

{% block content %}
    <div id="site_content">
    <!-- start gallery HTML containers -->
    <div class="navigation-container">
        <div id="thumbs" class="navigation">
            <a class="pageLink prev" style="visibility: hidden;" href="#" title="Previous Page"></a>
            <ul class="thumbs noscript">
                {% for img in images %}
                    <li>
                        <a class="thumb" href="{{ img.image|thumbnail_url:'gallery' }}"><img src="{{ img.image|thumbnail_url:'mini' }}" alt="{{ img.description}}" /></a>
                        <div class="caption">
                            <div class="image-title portfolio_two">&quot;{{ img.description }}&quot;</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a class="pageLink next" style="visibility: hidden;" href="#" title="Next Page"></a>
        </div>
    </div>
        <div class="content">
            <div class="slideshow-container">
                <div id="loading" class="loader"></div>
                <div id="slideshow" class="slideshow"></div>
                <div id="controls" class="controls portfolio_two"></div>
                <div id="caption" class="caption-container"></div>
            </div>
        </div>
        <!-- end gallery HTML containers -->
    </div>
    <a href="{%  url "albums" id=paint.album.id %}?page={{ pn }}"> Назад</a>
    <!-- end content -->


{% endblock %}

