<!DOCTYPE HTML>
{% load staticfiles %}
<html>

<head>
  <title>PhotoArtWork2</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <!-- stylesheets -->
  <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
  <link href="{% static "css/colour.css" %}" rel="stylesheet" type="text/css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="{% static "js/modernizr-1.5.min.js" %}"></script>
</head>

<body>
  <div id="main">

    <!-- begin header -->
    <header>
      <div id="logo"><h1>СВІТЛИНИ<a href="#">ART</a>МАЛЬОВИДЛА</h1></div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li><a href="{% url "index" %}">до хати</a></li>
          <li class="selected"><a href="{% url "about" %}">Про нас</a></li>
          <li><a href="#">Наші портфоліо</a>
            <ul>
              <li><a href="{% url "portfolio_one" %}">варіант перший</a></li>
              <li><a href="{% url "portfolio_two" %}">варіант другий</a></li>
            </ul>
          </li>
          <li><a href="{% url "blog" %}">Блог</a></li>
          <li><a href="{% url "contact" %}">Зв’язок</a></li>
        </ul>
      </nav>
    </header>
    <!-- end header -->

    <!-- begin content -->
    {% block content %}{% endblock %}
    <!-- end content -->

    <!-- begin footer -->
    <footer>
      <p>Copyright &copy; 2016 ftaeml. <a href="http://www.css3templates.co.uk">Design from css3templates.co.uk</a>.</p>
      <p><img src="{% static "images/twitter.png" %}" alt="twitter" />&nbsp;<img src="{% static "images/facebook.png" %}" alt="facebook" />&nbsp;<img src="{% static "images/rss.png" %}" alt="rss" /></p>
    </footer>
    <!-- end footer -->

  </div>
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.easing-sooper.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.sooperfish.js" %}"></script>
  <script type="text/javascript" src="{% static "js/image_fade.js" %}"></script>
  <!-- initialise sooperfish menu -->
  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });
  </script>
  <script type="text/javascript" src="{% static "js/jquery.galleriffic.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.opacityrollover.js" %}"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      // we only want these styles applied when javascript is enabled
      $('div.navigation').css({'width' : '450px', 'float' : 'left'});
      $('div.content').css('display', 'block');
      // initially set opacity on thumbs and add additional styling for hover effect on thumbs
      var onMouseOutOpacity = 0.67;
      $('#thumbs ul.thumbs li').opacityrollover({
        mouseOutOpacity:   onMouseOutOpacity,
        mouseOverOpacity:  1.0,
        fadeSpeed:         'fast',
        exemptionSelector: '.selected'
      });
      // initialize advanced galleriffic gallery
      var gallery = $('#thumbs').galleriffic({
        delay:                     3500,
        numThumbs:                 10,
        preloadAhead:              10,
        enableTopPager:            false,
        enableBottomPager:         true,
        maxPagesToShow:            7,
        imageContainerSel:         '#slideshow',
        controlsContainerSel:      '#controls',
        captionContainerSel:       '#caption',
        loadingContainerSel:       '#loading',
        renderSSControls:          true,
        renderNavControls:         true,
        playLinkText:              'Play Slideshow',
        pauseLinkText:             'Pause Slideshow',
        prevLinkText:              '&lsaquo; Previous Photo',
        nextLinkText:              'Next Photo &rsaquo;',
        nextPageLinkText:          'Next &rsaquo;',
        prevPageLinkText:          '&lsaquo; Prev',
        enableHistory:             false,
        autoStart:                 false,
        syncTransitions:           true,
        defaultTransitionDuration: 900,
        onSlideChange:             function(prevIndex, nextIndex) {
          // 'this' refers to the gallery, which is an extension of $('#thumbs')
          this.find('ul.thumbs').children()
            .eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
            .eq(nextIndex).fadeTo('fast', 1.0);
        }
      });
    });
  </script>
</body>
</html>
